extends index.pug

block title
    title Currículo

block content
    div(class="curriculum_content")
        div(class="curriculum_header")
            div(id="profile_image")
            div(id="contact_data")
                ul(class="port_list")
                    li Nome: Antônio Luiz Weingartner Junior 
                    li Email: antonioluiz686@gmail.com
                    li Celular: (48) 9 9931-5864
                    li Idade: 22 anos 

        span(class="section_title") Sobre mim
        p(class="section_text") Meu nome é Antonio, sou técnico em eletrônica formado pelo IFSC e atualmente estou fazendo o curso de bacharel em ciências da computação na UFSC. Comecei a programar aos 15 anos de idade quando participei de um curso no SENAI voltado ao desenvolvimento de websites. No momento eu estou interessado em realizar um estágio na área de desenvolvimento de web.
        span(class="section_title") Experiência profissional
        p(class="section_text") Minha experiência profissional mais significativa foi em 2019, época em que eu fui contratado para uma vaga de estágio na empresa Automatisa. Durante o meu periodo na empresa eu realizei diversas atividades relacionadas a área de eletrônica como: montagem de computadores, soldagem de placas de circuito impresso, e testes em lasers de alta potência.


        span(class="section_title") Competências
        ul(class="port_list")
            li Experiência com o desenvolvimento de aplicações de baixa complexidade para desktops e para web.
            li Experiência considerável com as seguintes linguagens de programação: Python, JavaScript, C, C++.
            li Experiência elementar com as seguintes linguagens de programação: C#, Java, Haskell, Lisp.
            li Conhecimento em banco de dados (SQL e NoSQL), orientação a objetos e paradigma de programação funcional.
            li Inglês intermediário avançado (B2).
            li Experiência com a framework express-js.
        
        span(class="section_title") Formação 
        ul(class="port_list")
            li (2020-2025) Bacharelado em ciências da computação (UFSC)
            li (2016-2019) Curso técnico em eletrônica (IFSC) 
            li (2015-2015) Curso de desenvolvimento web (SENAI)