html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title 
            title Início
        block scripts
        block stylesheets
            link(rel="stylesheet" type="text/css" href="/css/portfolio.css")
        block fonts
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    body
        header(class="main_nav_bar")
            nav
                ul
                    a(href="/portfolio/index" class=page=='index' ? 'active' : '') Início
                    a(href="/portfolio/projects" class=page=='projects' ? 'active' : '') Projetos
                    a(href="/portfolio/curriculum" class=page=='curriculum' ? 'active' : '') Curriculo
        block content
            div(id="content")
                div(id="profile_image")
                div(id="intro")
                    span(class="large_text") Olá! Meu nome é Antônio Luiz Weingartner e eu sou um desenvolvedor de software. Atualmente estou cursando ciências da computação e procurando por uma vaga de estágio para desenvolvimento de aplicações web.
                    a(href="/portfolio/projects") Projetos
                    a(href="/portfolio/curriculum") Currículo 
                    a(href="https://www.linkedin.com/in/ant%C3%B4nio-weingartner-842b6817a/?locale=pt_BR") Linkedin
                    a(href="https://github.com/AntonioLuizWeingartner?tab=repositories") GitHub

        block footer           
