extends index.pug

block title 
    title Projetos

block content
    div(id="project_listing")
        each prj in projects
            div(class="project" style="background-image: url(" + prj.thumb_url +")")
                a(href="projects/" + prj._id)
                    div(class="overlay")
                        div(class="aligner")
                            span(class="prj_title")=prj.title
                
            